<!DOCTYPE html>
<html>
  <%- include('../components/head') -%>
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css" />
  <body>
    <%- include('../components/navbar') -%>
    <div class="landing-main">
      <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <ul class="actions special stacked">
            <li>
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-sm-12 col-xs-12" style="margin: auto;">
                    <form action="/account/admin/login/" method="POST">
                      <div class="form-group">
                        <label for="username">Username*</label>
                        <input type="text" class="form-control" id="username" placeholder="Teacher username" name="username" required />
                      </div>
                      <div class="form-group">
                        <label for="password">Password*</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required />
                      </div>
                      <br />
                      <button type="submit" class="button primary btn btn-primary">
                        Submit
                      </button>
                      <hr />
                    </form>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div id="notify_message" class="notify_message-success"></div>
    <%- include('../components/footer') -%>
  </body>
  <script type="text/javascript">
    var error = <%- JSON.stringify(error) -%>;
    if(error) {
      show_notification(error, 'danger')
    }

    $('#header > a:last-child').hide()
  </script>
  <script src="/javascripts/vendor/breakpoints.min.js"></script>
  <script src="/javascripts/vendor/browser.min.js"></script>
  <script src="/javascripts/vendor/classie.js"></script>
  <script src="/javascripts/vendor/main.js"></script>
  <script src="/javascripts/vendor/jquery.scrolly.min.js"></script>
  <script src="/javascripts/util.js"></script>
  <script src="/javascripts/vendor/modernizr.custom.js"></script>
  <script src="/javascripts/vendor/notificationFx.js"></script>
</html>
